// VARIABLES
$color-white: hsl(0, 0%, 100%);
$color-light-grey: hsl(212, 45%, 89%);
$color-gray-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

$ts: all 0.2s;

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

// UTILITY CLASSES
.u-normal {
  font-weight: 400;
}

.u-bolder {
  font-weight: 700;
}

// BASE STYLES
.page {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  background-color: #f2f2f2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {

}

// STYLES

.main {

  &__qr-code {

  }

  &__header {

  }

  &__instructions {

  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}