// VARIABLES
$color-white: hsl(0, 0%, 100%);
$color-light-grey: hsl(212, 45%, 89%);
$color-gray-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

$ts: all 0.2s;

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

// BASE STYLES


// STYLES

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}